<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title>My Gimpy Scrum Board</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-app="TodoApp">
    <h1 class="text-center">My Gimpy Scrum Board</h1>
    <div class="container-fluid" id="board" ng-controller="MainCtrl">
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <h2>New Tasks</h2>
          <div ng-repeat='task in newTasks'>
            <task task='task' reload="reload" ></task>
          </div>
        </div>
        <div class="col-xs-12 col-lg-3">
          <h2>Started Tasks</h2>
          <div  ng-repeat='task in startedTasks'>
            <task task='task'  reload="reload" ></task>
          </div>
        </div>
        <div class="col-xs-12 col-lg-3">
          <h2>Completed Tasks</h2>
          <div  ng-repeat='task in completedTasks'>
            <task task='task'  reload="reload" ></task>
          </div>
        </div>
        <div class="col-xs-12 col-lg-3">
          <h2>Add a Task</h2>
          <add-task reload="reload"></add-task>
        </div>
      </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/directives/task.js"></script>
    <script src="js/directives/addTask.js"></script>
  </body>
</html>
